.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 13;
}
.modalMain{
    box-sizing: border-box;
    width: 33vw;
    aspect-ratio: 0.8/1;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 15;
    background: #F3F6FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.background{
    width: 100vw;
    height: 100vh;
    background-color: #000000a1;
    position: fixed;
    z-index: 11;
}
.book{
    width: 5%;
    height: 100%;
    background: #F1F4FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
}

.modalMain{
    display: flex;
}
.mainText{
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
}
.quizIcon{
width: 150px;
height: 60px;
background: #6B6767;
border-radius: 20px 50px 50px 0px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
font-size: 25px;
}

.titleContainer{
    margin-top: 20px;
    font-size: 50px;
}

.depContainer{
    margin-top: 50px;
    font-size: 20px;
    color: #505050;
    height: 30%;
}

.subMan{
    font-size: 13px;
}
.userName{
    margin-top: 1px;
    font-size: 20px;
}

.startBtnContainer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn{
    width: 50%;
    height: 50px;
    margin-right: 50px;
    background-color: #868585;
    color: #FFFFFF;
    font-size: 25px;
    border: none;
    border-radius: 12px;
}