.input_form_container {
  width: 50vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 35%);
  border-radius: 20px;
  text-align: center;
  margin: 10vh auto auto auto;
}

.input_form {
  width: 80vh;
  height: 10vh;
  line-height: 10vh;
  border-radius: 10px;
  margin: 2vw auto;
  display: flex;
}

.input_options {
  border: 0;
  font-size: 20px;
  width: 10vw;
  height: 5vh;
  margin: auto auto auto 1vh;
}

.img_options {
  width: 5vw;
  height: 5vh;
  margin: 2vh 0 2vh 2vw;
}

.sub_img_options {
  width: 5vw;
  height: 5vh;
  margin: 2vh 0 2vh;
  opacity: 50%;
}

.check_mail_form {
  border-left: 1px solid black;
  width: 10vw;
}
