.loginBtn {
  width: 30vw;
  height: 10vh;
  background: #0064ff;
  border: none;
  border-radius: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
}
