.main{
    width: 100%;
    height: 75%;
    margin-top: 20px;
}
.inforContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.infor{
    width: 9%;
    aspect-ratio: 2.4/1;
    background: #555555;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-right: 20px;
}


.textInputContainer{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInput{
    width: 80%;
    height: 100%;
    resize: none;
    margin-top: 30px;
    padding: 1%;
}