.main{
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;    
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.navbarContainer1{
    width: 33%;
    display: flex;
    justify-content: space-around;
}
.navbarContainer2{
    width: 10%;
    display: flex;
    justify-content: space-around;  
}
.navbarItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'GmarketSans';
    color: #FFFFFF
}
.navbarItem:hover{
    color: #0064FF;
}

.loginBtn{
width: 100px;
height: 40px;
box-sizing: border-box;
background: none;
border: 1px solid #FFFFFF;
border-radius: 12px;
color: #FFFFFF;
}