.main{
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;    
    z-index: 10;
}

.navbarContainer1{
    width: 33%;
    display: flex;
    justify-content: space-around;
}
.navbarContainer2{
    width: 10%;
    display: flex;
    justify-content: space-around;  
}
.navbarItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'GmarketSans';
    color: #FFFFFF;
    font-weight: bolder;
}

.loginBtnRoot{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    color: #FFFFFF;
}

.loginBtn{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #000000;
    border-radius: 12px;
    color: #000000;
}
.navItemColor{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'GmarketSans';
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}


.navItemChoice{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'GmarketSans';
    color: rgba(0, 0, 0);
    font-weight: bolder;
}