@charset "UTF-8";

@font-face {
    font-family: 'GmarketSans';
    src: url('../../public/assets/font/GmarketSansTTFMedium.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'GmarketSans';
    /* -webkit-user-select: none; webkit (safari, chrome) browsers
    -moz-user-select: none; mozilla browsers
    -khtml-user-select: none; webkit (konqueror) browsers
    -ms-user-select: none; IE10+ */
}
::-webkit-scrollbar{
    display: none;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

button, textarea, input{
    outline: none;
}

input::placeholder, textarea::placeholder{
    font-family: 'GmarketSans';
}


button{
    cursor: pointer;
}


.slick-prev, .slick-next {
    display: none !important;
}



