@charset "UTF-8";

@font-face {
    font-family: 'GmarketSans';
    src: url('../../public/assets/font/GmarketSansTTFMedium.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    display: none;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

button, textarea, input{
    outline: none;
}

input::placeholder, textarea::placeholder{
    font-family: 'GmarketSans';
}


button{
    cursor: pointer;
}