.problemContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnContainer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}