.EasyLoginContainer {
    width: 320px;
    height: 100px;  
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center;
    margin-top: 50px;
    font-family: 'Outfit';
}

.title {
    margin-bottom: 10px; 
     font-size: 15px; 
}



.iconSort {
    width: 150px;
    display: flex;
    justify-content: space-between;   
   position: absolute;
   left: 24.5%;
   bottom: -33%;
}

.iconSort > * {  
    margin-left: 10px; /* 좌우 5px 씩 여백 추가 */
    margin-right: 10px;
}


