.loginBtn{
    width: 250px;
    height: 53px;
    background: #0064FF;
    border: none;
    border-radius: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}